                    * {
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        list-style: none;
                        text-decoration: none;
                        font-family: 'Raleway', sans-serif;
                    }
                    
                    .container {
                        max-width: 1200px;
                        margin: 0 auto;
                    }
                    
                    .header {
                        padding: 0 2rem;
                        position: fixed;
                        top: 0;
                        width: 100%;
                        background-color: #fff;
                        .container {
                            padding: 1.2rem 0;
                            display: flex;
                            justify-content: space-between;
                            h1 {
                                font-size: x-large;
                                font-weight: 400;
                            }
                            .nav-links {
                                ul {
                                    display: flex;
                                    gap: 0 30px;
                                    li {
                                        padding-bottom: .5rem;
                                        &:hover {
                                            border-bottom: 1px solid #000;
                                        }
                                        a {
                                            color: #000;
                                        }
                                    }
                                }
                            }
                            .menu {
                                display: none;
                            }
                        }
                    }
                    
                    .layout {
                        background-color: #000;
                        padding: 0 2rem;
                        margin-top: 3.8rem;
                        .container {
                            h4 {
                                color: #fff;
                                font-size: larger;
                                font-weight: 400;
                                text-align: center;
                                padding: .7rem 0;
                                a {
                                    color: #fff;
                                    padding: 0 1rem;
                                }
                            }
                        }
                    }
                    
                    .refresh {
                        padding: 0 2rem;
                        background-color: #451314;
                        .container {
                            display: flex;
                            justify-content: space-around;
                            height: 600px;
                            align-items: center;
                            &-left {
                                img {
                                    height: 600px;
                                }
                            }
                            &-right {
                                display: flex;
                                flex-direction: column;
                                gap: 20px 0;
                                h2 {
                                    font-size: xx-large;
                                    font-weight: 700;
                                    color: #fff;
                                }
                                p {
                                    font-size: small;
                                    font-weight: 400;
                                    letter-spacing: 1px;
                                    color: #fff;
                                }
                                button {
                                    width: 150px;
                                    padding: .7rem 1.4rem;
                                    border: none;
                                }
                            }
                        }
                    }
                    
                    .fall {
                        padding: 4rem 2rem;
                        .container {
                            display: flex;
                            gap: 0 10px;
                            align-items: center;
                            &-left {
                                padding-right: 10px;
                                display: flex;
                                flex-direction: column;
                                gap: 30px 0;
                                h2 {
                                    font-size: xx-large;
                                    font-weight: 400;
                                }
                                p {
                                    font-size: small;
                                    font-weight: 400;
                                    letter-spacing: 1px;
                                }
                                button {
                                    width: 150px;
                                    padding: .7rem 1.4rem;
                                    border: none;
                                    background-color: #000;
                                    color: #fff;
                                    &:hover {
                                        opacity: .7;
                                    }
                                }
                            }
                            &-center {
                                display: flex;
                                gap: 0 10px;
                                img {
                                    width: 300px;
                                    height: 512px;
                                }
                            }
                            &-right {
                                img {
                                    width: 300px;
                                    height: 512px;
                                }
                            }
                        }
                    }
                    
                    .inspire {
                        padding: 0 2rem;
                        background-image: url(../images/inspire.webp);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        .container {
                            h2 {
                                font-size: xx-large;
                                text-align: center;
                                font-weight: 700;
                                color: #fff;
                                padding: 10rem 0;
                            }
                        }
                    }
                    
                    .selling {
                        .container {
                            display: flex;
                            justify-content: space-around;
                            padding: 5rem 1rem;
                            flex-wrap: wrap;
                            gap: 20px 0;
                            &-side {
                                width: 580px;
                                display: flex;
                                flex-direction: column;
                                gap: 10px 0;
                                img {
                                    width: 100%;
                                }
                                h2 {
                                    font-size: xx-large;
                                    font-weight: 700;
                                }
                                p {
                                    font-size: small;
                                    font-weight: 400;
                                    letter-spacing: 1px;
                                }
                                button {
                                    width: 187px;
                                    height: 53px;
                                    border: none;
                                    background-color: #000;
                                    color: #fff;
                                }
                            }
                        }
                    }
                    
                    .never {
                        background-image: url(../images/never-miss.webp);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        .container {
                            padding: 4rem 2rem;
                            .never-side {
                                display: flex;
                                flex-direction: column;
                                gap: 30px 0;
                                h2 {
                                    max-width: 333px;
                                    font-size: xx-large;
                                    font-weight: 700;
                                    color: #fff;
                                }
                                h5 {
                                    max-width: 796px;
                                    color: #fff;
                                    font-size: 50px;
                                }
                                input {
                                    width: 496px;
                                    height: 48px;
                                    padding: .7rem 1rem;
                                }
                                button {
                                    width: 92px;
                                    height: 46px;
                                    color: #fff;
                                    background-color: #000;
                                    border: none;
                                    &:hover {
                                        opacity: .7;
                                    }
                                }
                            }
                        }
                    }
                    
                    .footer {
                        .container {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            padding: 4rem 2rem;
                            &-left {
                                ul {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 40px 0;
                                    li {
                                        a {
                                            font-size: medium;
                                            font-weight: 400;
                                            letter-spacing: 1px;
                                            color: #000;
                                            border-bottom: 2px solid #000;
                                        }
                                    }
                                }
                            }
                            &-right {
                                padding-right: 7rem;
                                ul {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 40px;
                                    h2 {
                                        font-size: x-large;
                                        font-weight: 400;
                                    }
                                    li {
                                        a {
                                            font-size: medium;
                                            font-weight: 400;
                                            letter-spacing: 1px;
                                            color: #000;
                                            border-bottom: 2px solid #000;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    @media only screen and(max-width:991px) {
                        body {
                            overflow-x: hidden;
                        }
                        .header {
                            .container {
                                h1 {
                                    font-size: large;
                                }
                                .nav-links {
                                    display: none;
                                }
                                .menu {
                                    display: block;
                                }
                            }
                        }
                        .layout {
                            .container {
                                h4 {
                                    font-size: medium;
                                }
                            }
                        }
                        .refresh {
                            margin: 0 auto;
                            .container {
                                flex-direction: column-reverse;
                                width: 414px;
                                height: 800px;
                            }
                        }
                        .fall {
                            .container {
                                flex-direction: column;
                                gap: 20px 0;
                                &-center {
                                    flex-direction: column-reverse;
                                    gap: 20px 0;
                                }
                                img {
                                    width: 310px;
                                }
                            }
                        }
                        .never {
                            .container {
                                width: 800px;
                                margin: 0 auto;
                            }
                        }
                        .footer {
                            .container {
                                flex-direction: column;
                                gap: 20px 0;
                                margin: 0 5rem;
                                // &-left {
                                //     margin: 0 auto;
                                // }
                                // &-right {
                                //     margin: 1rem auto;
                                // }
                            }
                        }
                    }
                    
                    @media only screen and (max-width:767px) {
                        .refresh {
                            .container {
                                padding: 0 3rem;
                                &-left {
                                    width: 400px;
                                    img {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        .never {
                            .container {
                                .never-side {
                                    h2 {
                                        width: 500px;
                                        font-size: x-large;
                                    }
                                    h5 {
                                        width: 400px;
                                        font-size: xx-large;
                                    }
                                    input {
                                        width: 300px;
                                    }
                                }
                            }
                        }
                        .footer {
                            .container {
                                &-left {
                                    ul {
                                        li {
                                            a {
                                                font-size: small;
                                            }
                                        }
                                    }
                                }
                                &-right {
                                    ul {
                                        h2 {
                                            font-size: x-large;
                                        }
                                        li {
                                            a {
                                                font-size: small;
                                            }
                                        }
                                    }
                                    .social {
                                        img {
                                            width: 18px;
                                        }
                                    }
                                }
                            }
                        }
                    }